h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.mat-toolbar{
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 92px;
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
  color: #000000;
  font-weight: 600;
}
.mat-toolbar .mat-flat-button {
  margin-top: 32px;
  font-family: 'Sora';
  font-size: 1.25rem;
  font-weight: 400;
  color: #000000;
  background-color: #F8F8F8;
  text-decoration:none;
  border-radius: 50px;
  height: 62px; 
}
.inicio{
    margin-left: 50%;
    margin-right: 60px;
}
.sair{
  margin-left:60px;
}
.content {
  position: absolute;
  top: 92px;
  left: 0;
  right: 0;
  height: 91%;
  display: flex;
  align-items: center;
  background-color: #EDEDED;
  color: #000000;
  font-weight: 600;
}
.banner-l{
  margin-left: -16px;
  width: 50%;
  height: 126px;
}
.banner-l .title{
  margin-top: 46px;
  margin-left: 100px;
  font-family: 'Raleway';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #2534BB;
/* identical to box height, or 36px */
  letter-spacing: 0.05em;
}
.banner-r{
  display: flex;
  width: 50%;
  height: 126px;
}
.content-r img{
  width: 54.563rem;
  height: 54.563rem;
  margin-left: 1.5rem;
}
.content-l{
  width: 50%;
  height: 101%;
}
.content-l h1{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 125%;
  margin-top: 73px;
  margin-left: 245px;
  color: #2F2F2F;
}
.content h1 small{
  font-size: 32px;
}
.content h4{
  font-family: Sora;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #9DA2A9;
  margin-left: 245px;
  width: 550px;
}
.content-l h4 img{
  margin-right: 0.5rem;
}
.content-l .button{
  margin-top: 12px;
  margin-left: 17.188rem;
  margin-bottom: 1rem;
  font-family: 'Sora';
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 150%;
  color: #000000;
  background-color: #EED918;
  border-radius: 100px;
  width: 411px;
  height: 78px;
}
.content-l .text{
  font-family: Sora;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  color: #E0E1E1;
  text-decoration:none;
  margin-left: 19.813rem;
}
.content-l .login-button{
    color:#606EE9;
    background-color: #202020;
    width: 9.375rem;
    height: 0px;
}
.content-l .login-button h3{
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
    margin-left: -16px;
    margin-top: -20px;
}
.content-l .img{
  display: flex;
  margin-left: 276px;
}
.content-l .img img{
  width: 502.17px;
  height: 431.41px;
}
.content-l .coment{
  width: 500px;
  height: 20px;
  margin-left: 248px;
  background: #FFFFFF;
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.01);
border-radius: 100px;
display: block;
}
.content-l .coment .img{
  margin-left: 5px;
}
.content-l .coment .comentT{
  font-family: Sora;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;

/* identical to box height, or 21px */

/* neutral/400 */
color: #CBCDCF;
  margin-left: 40px;
  margin-top: -21px;
}
.content-r{
  width: 50%;
  height: 101%;
  align-items: flex-start;
}
content-r h1{
  margin-left: -50%;
}

.content-r .bottonAddPro{
  margin-top: 103px;
  margin-left: 90px;
  color: #000000;
  background-color: #EED918;
  border-radius: 100px;
  width: 347px;
  height: 81px; 
  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
}

.content-r .bottonVerPro{
  margin-left: 56px;
  width: 347px;
  height: 81px;  
  /* brand-secondary-dark */
  border: 2px solid #2534BB;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 24px rgba(97, 97, 97, 0.21));
  border-radius: 100px;
  font-family: Sora;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 150%;

/* identical to box height, or 33px */
text-align: center;

/* brand-secondary-dark */
color: #2534BB;
}
.content-r h1{
  margin-top: 87px;
  /* heading/desk-h2 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 125%;

  /* identical to box height, or 40px */
  text-align: center;

  color: #000000;
}
.content-r .card-projeto{
  align-items: center;
  text-align: center;
  /* neutral/100 */
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.07);
  border-radius: 30px;
  width: 750px;
  height: 108px;
  top: 48px;
  margin-left: 90px;
}
.content-r .card-projeto h4{
  margin-top: 25px;
  margin-left: 100px;
  font-family: Sora;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  /* neutral/600 */
  color: #2F2F2F;
}