<mat-toolbar role="banner">
    <div class="banner-l">
        <h1 class="title">FábricaDeSoftware</h1>
    </div>
    <div class="banner-r">
        <button mat-flat-button class="inicio" routerLink="/inicio">Inicio</button>
        <button mat-flat-button routerLink="/projetos">Meus projetos</button>
        <button mat-flat-button routerLink="/" class="sair" (click)="sairClick()">Sair</button>
    </div>
</mat-toolbar>
<div class="content" role="main">
    <div class="content-l">
        <h1>
            Bem vindo! <small>{{ firstName}}</small> :)
        </h1>
        <h4>
            Aqui você consegue ter acesso ao panorama geral dos
            projetos, status e adicionar novos.
        </h4>
        <div class="img">
            <img src="assets/images/devices-home.png">
        </div>
        <mat-card class="coment">
            <img class="img" src="assets/images/coracao.png">
            <h4 class="comentT">
                Saiba mais se cadastrando e enviando seu projeto, e mais algo
            </h4>
        </mat-card>
    </div>
    <div class="content-r">
        <button mat-flat-button class="bottonAddPro" (click)="cadastraProjeto()">+ Adicionar projeto</button>
        <button mat-stroked-button class="bottonVerPro" routerLink="/projetos">Ver meus projetos</button>
        <br />
        <h1>Status do Projeto</h1>
        <mat-card class="card-projeto">
            <h4>
                Você ainda não possui nenhum projeto :( <br>
                <b> Clique no botão para adicionar.</b>
            </h4>
        </mat-card>
    </div>
</div>