h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}



.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 92px;
  display: flex;
  align-items: center;
  background-color: #EDEDED;
  color: #000000;
  font-weight: 600;
}

.content {
  position: absolute;
  top: 92px;
  left: 0;
  right: 0;
  height: 91%;
  display: flex;
  align-items: center;
  background-color:#202020;
  color: #000000;
  font-weight: 600;
}
.banner-l{
  width: 50%;
  background-color: #202020;
  height: 92px;
}
.banner-l .title{
  margin-top: 3%;
  margin-left: 10%;
  font-family: 'Raleway';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color:#EED918;
/* identical to box height, or 36px */
  letter-spacing: 0.05em;
}
.banner-r{
  display: flex;
  width: 50%;
  background-color: #EDEDED;
  height: 92px;
}
.banner-r .login{
  margin-left: 50%;
  margin-top: 12px;
  font-family: 'Sora';
  font-size: 1.25rem;
  font-weight: 400;
  color: #000000;
  background-color: #EDEDED;
  text-decoration:none;
  border-radius: 50px;
  height: 62px; 
}
.banner-r .button{
  margin-top: 12px;
  margin-left: 40px;
  font-family: 'Sora';
  font-size: 1.25rem;
  font-weight: 600;
  color: #000000;
  background-color: #EED918;
  border-radius: 100px;
  width: 256px;
  height: 62px;
}
.content-r img{
  width: 54.563rem;
  height: 54.563rem;
  margin-left: 1.5rem;
}
.content-l{
  width: 50%;
  background-color:#202020;
  height: 100%;
}
.content-l h1{
  font-family: 'Raleway';
  font-size: 4rem;
  font-weight: 700;
  color:#FFFFFF;
  line-height:5rem;
  margin: 14.125rem 3.188rem 3.5rem 15.313rem;
}
.content h4{
  display: flex;
  font-family: 'Sora';
  color: #9DA2A9;
}
.content-l h4 img{
  margin-left: 17.188rem;
  margin-right: 0.5rem;
}
.content-l .button{
  margin-top: 12px;
  margin-left: 17.188rem;
  margin-bottom: 1rem;
  font-family: 'Sora';
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 150%;
  color: #000000;
  background-color: #EED918;
  border-radius: 100px;
  width: 411px;
  height: 78px;
}
.content-l .text{
  font-family: Sora;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  color: #E0E1E1;
  text-decoration:none;
  margin-left: 19.813rem;
}
.content-l .login-button{
    color:#606EE9;
    background-color: #202020;
    width: 9.375rem;
    height: 0px;
}
.content-l .login-button h3{
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
    margin-left: -16px;
    margin-top: -20px;
}
.content-r{
  width: 50%;
  background-color:#EDEDED;
  height: 100%;
}
