<mat-toolbar role="banner">
    <div class="banner-l">
        <h1 class="title">FábricaDeSoftware</h1>
    </div>
    <div class="banner-r">
        <button mat-flat-button class="inicio" routerLink="/inicio">Inicio</button>
        <button mat-flat-button routerLink="/projetos">Meus projetos</button>
        <button mat-flat-button routerLink="/" class="sair" (click)="sairClick()">Sair</button>
    </div>
</mat-toolbar>

<div class="content" role="main">
    <div class="content-l">
        <h1>
            Meus projetos!
        </h1>
        <h4>
            Aqui você consegue ter acesso aos
            projetos, status e os avaliar.
        </h4>
        <div class="img">
            <img src="assets/images/devices-home.png">
        </div>
        <mat-card class="coment">
            <img class="img" src="assets/images/coracao.png">
            <h4 class="comentT">
                Saiba mais se cadastrando e enviando seu projeto, e mais algo
            </h4>
        </mat-card>
    </div>
    <div class="content-r">

        <mat-card class="card-projeto">
            <h4>
                Você ainda não possui nenhum projeto :( <br>
                <b> Clique aqui para adicionar.</b>
            </h4>
        </mat-card>
    </div>
</div>