<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="banner-l">
      <h1 class="title">FábricaDeSoftware</h1>
    </div>
    <div class="banner-r">
      <a  class="text" href="">
      Login
     </a>
      <button mat-flat-button class="button">Cadastre-se</button>
    </div>
</div>

<div class="content" role="main">
    <div class="content-l">
      <h1 >
        Nossa missão é fabricar os seus sonhos em 30 dias
      </h1>
      <h4>
        <img src="assets/images/coracao.png">
        Saiba mais se cadastrando e enviando seu projeto
      </h4>
      <button mat-flat-button class="button">Cadastre-se aqui! :)</button>
      <a class="text">
        Já tem uma conta?
      </a>
      <a class="text-h3" href="">
         Faça seu login aqui
       </a>
    </div>
    <div class="content-r">
    <img src="assets/images/devices.png">

    </div>
</div>


<router-outlet></router-outlet>