<div class="header">
  <img src="./assets/images/icon-2-circle.png" class="icon">
  <button mat-button class="close" (click)="onNoClick()">
    <a class="material-icons">
      close
    </a>
  </button>
</div>

<div mat-dialog-content class="content">
  <img src="./assets/images/peoples.png">
  <h1>Legal! Agora você já pode clicar no botão abaixo e fazer o login para adicionar seu projeto :)</h1>
</div>
<div class="content-button">
  <div mat-dialog-actions>
    <button mat-stroked-button class="button" (click)="openLogin()">Entre :)</button>
  </div>
</div>
<div class="pagination">
  <img src="./assets/images/pagination-2.png">
</div>